@model Behandeling

@{
    ViewData["Title"] = "Selecteer een behandelaar";
}

<div class="row">
    <div class="col-md-12">
        <h4>@ViewData["Title"]</h4>
        <hr />
        <div id="content" class="row mb-2">
            @foreach (var item in Model.Behandelaren)
            {
             <div class="col-md-4">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <img width="25" height="275" class="card-img-top rounded mb-3" src="../Images/@item.Behandelaar.Afbeelding" alt="Foto van @item.Behandelaar.Voornaam @item.Behandelaar.Achternaam">
                        <h5 class="mb-0">
                            <p class="text-dark text-break">@item.Behandelaar.Voornaam @item.Behandelaar.Achternaam</p>
                        </h5>
                        <p class="card-text mb-2 text-break">@item.Behandelaar.Beschrijving</p>
                        <a asp-route-BehandelingId="@item.Behandeling.Id" asp-route-BehandelaarId="@item.Behandelaar.Id" asp-action="Behandelaar">Selecteren</a>
                    </div>
                </div>
            </div>
            }
      </div>
    </div>
</div>
