@model Models.Zelfhulpgroep

@{
    ViewData["Title"] = "Zelfhulpgroep verwijderen";
}

<h1>@ViewData["Title"]</h1>

<h3>Weet je zeker dat je de zelfhulpgroep wilt verwijderen?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.avgLeeftijd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.avgLeeftijd)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Verwijderen" class="btn btn-danger" /> |
        <a asp-action="Index">Terug naar overzicht</a>
    </form>
</div>
