@using Microsoft.AspNetCore.Identity
@inject UserManager<Gebruiker> UserManager

@model IEnumerable<Models.Zelfhulpgroep>

@{
    ViewData["Title"] = "Selecteer een zelfhulpgroep";
}

<div class="row">
    <div class="col-md-12">
        <h1>@ViewData["Title"]</h4>
        @if (User.IsInRole("Behandelaar"))
        {
            <a class="font-weight-light" asp-action="Create">Creëer een nieuwe zelfhulpgroep</a>
        }
        <hr />
        <div id="content" class="row mb-2">
            <div class="col-md-12 mb-4">
                <form class="form-inline" asp-action="Index" method="get">
                    <div class="form-check mb-2 mr-sm-2">
                        <label class="form-check-label" for="inlineFormCheck">
                            Zoek een zelfhulpgroep:
                        </label>
                    </div>
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Titel</div>
                        </div>
                        <input type="text" class="form-control" id="titel" name="titel" value="@ViewBag.Titel">
                    </div>
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Leeftijd</div>
                        </div>
                        <input type="text" class="form-control" id="leeftijd" name="leeftijd" value="@ViewBag.Leeftijd">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Zoeken</button>
                    <a asp-controller="Zelfhulpgroep" asp-action="Index">
                        <button type="button" class="btn btn-link mb-2">Reset</button>
                    </a>
                </form>
            </div>

            @foreach (var item in Model)
            {
                <div class="col-md-3">
                    <div class="card flex-md-row mb-4 box-shadow h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <h5 class="mb-0">
                                <p class="text-dark text-break">@Html.DisplayFor(modelItem => item.Naam)</p>
                            </h5>
                            <p class="card-text mb-2 text-break">@Html.DisplayFor(modelItem => item.Description)</p>
                            <p class="card-text mb-2 text-break">Gemiddelde leeftijd: @Html.DisplayFor(modelItem =>
                            item.avgLeeftijd)</p>
                            @if (!User.IsInRole("Behandelaar"))
                            {
                                @if (item.ZelfhulpDeelnames.Any(z => z.Id == item.Id && z.Client.Id ==
                               UserManager.GetUserId(User)))
                                {
                                    <span>Je bent al lid</span>
                                }
                                else
                                {
                                    <a asp-action="AanmeldenVoorGroep" asp-controller="Zelfhulpgroep" asp-route-id="@item.Id">Selecteren</a>
                                }
                            }
                            else 
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id">Bewerk</a>
                                <a asp-action="Delete" asp-route-id="@item.Id">Verwijderen</a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    @* @if (User.IsInRole("Hulpverlener")){
        <td>
        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
        } *@
</div>