@model wdpr.Gebruiker

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Gebruiker</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Voornaam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Voornaam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Achternaam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Achternaam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Leeftijd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Leeftijd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Moderator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Moderator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Orthopedagoog)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Orthopedagoog)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stagair)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stagair)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Administratie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Administratie)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
