@model wdpr.Gebruiker

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Gebruiker</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Voornaam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Voornaam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Achternaam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Achternaam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Leeftijd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Leeftijd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Moderator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Moderator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Orthopedagoog)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Orthopedagoog)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stagair)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stagair)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Administratie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Administratie)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
