@model Models.ZelfhulpDeelname

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ZelfhulpDeelname</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Toetredingsdatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Toetredingsdatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zelfhulpgroep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zelfhulpgroep.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
